<launch>
<arg name="agent_name" default="freicar_1"/>
  <arg name="init_x" default="1.0"/>
  <arg name="init_y" default="0.0"/>
  <arg name="heading" default="0"/>
  <arg name="use_yaml_spawn" default="true"/>
  <arg name="map_name" default="freicar_race_1"/>
  <node pkg="freicar_sign_detect" type="freicar_sign_detect_node" name="sign_detector" output="screen">
    <param name="agent_name" value="$(arg agent_name)"/>
  <param name="agent_name"  type="string" value="$(arg agent_name)" />
  </node>

  <node pkg="freicar_localization" type="freicar_localization_node" name="freicar_localization" output="screen">
    <param name="agent_name" value="$(arg agent_name)"/>
    <param name="use_yaml_spawn" value="$(arg use_yaml_spawn)"/>
    <param name="map_name" value="$(arg map_name)"/>
    <param name="init_x" value="$(arg init_x)"/>
    <param name="init_y" value="$(arg init_y)"/>
    <param name="heading" value="$(arg heading)"/>
    <param name="map_path" value="$(find freicar_map)/maps/$(arg map_name)"/>
    </node>
</launch>
