<launch>
<arg name="agent_name" default="freicar_1"/>
<arg name="use_yaml_spawn" default="true"/>
<arg name="init_x" default="4.0"/>
<arg name="init_y" default="0.5"/>
<arg name="heading" default="0"/>
<arg name="use_lane_regression" default="false"/>
<arg name="obstacle_radius" default="0.3"/>
<arg name="map_name" default="freicar_1.aismap"/>
  <node pkg="planner" type="planner_node" name="planner" output="screen">
    <param name="agent_name" value="$(arg agent_name)"/>
    <param name="use_yaml_spawn" value="$(arg use_yaml_spawn)"/>
    <param name="init_x" value="$(arg init_x)"/>
    <param name="init_y" value="$(arg init_y)"/>
    <param name="obstacle_radius" value="$(arg obstacle_radius)"/>
    <param name="heading" value="$(arg heading)"/>
    <param name="map_name" value="$(arg map_name)"/>
    <param name="map_path" value="$(find freicar_map)/maps/$(arg map_name)"/>

  </node>
</launch>
